*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


input{
    height: 30px;
    font-size: 14px;
}
.text-heading{
    padding :8px;
    font-size: 25px;
}
.marksText{
    font-size:25px  ;
    place-items: center;
}

.container{
    margin: 18px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 17px;
}
.detailsInputForm{
    margin: 5px 3px;
    border: 1px solid black;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 17px;
    padding-bottom: 25px;
}
.formGridItem{
    display: grid;
    align-items: center;
}
.inputFormHeader{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px ;
    background: linear-gradient(278deg, rgba(5,25,58,1) 0%, rgba(13,59,134,1) 49%);
    border-radius: 15px 15px 0px 0px;

}
.inputFormHeader h2{
    padding: 12px 1vw;
    color: white;
}
.inputContainer{
    margin: 12px;
}
.instructions> h2{
    text-decoration: underline;
    padding-bottom:10px ;
}
.instructions ul{
    margin-left: 15px;
    font-size: 19px;
}
.instructions li{
    margin-bottom:10px ;
}

.inputFormContainer {
    
    margin:15vh 5vw 0vw
}
.formGridContainer{
    display: grid;
    grid-template-columns: 10vw 20vw;
    row-gap: 2.5vh;
    width: 35%;
    margin: 0 auto;
    
}

    .gridItemAlert{
    grid-column: 2/2;
}
.cumpulsaryField{
    color: red;
}


.startTestBtn{
    font-size:16px;
    font-family:Arial;
    height:40px;
    border-width:1px;
    color:#000;
    border-color:#599bb3;
    font-weight:bold;
    border-radius:8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background:linear-gradient(#f9faf7, #d0d2d3);
    padding: 0px 25px;
    margin: 4% 0% 0% 40%;

    }

.questionContainer{
    border-left: 1px solid #000;
}
.questionImgContainer{
    display: grid;
    place-items: center;
    position: relative;

}
.questionImg{
    width: 39vw;
    z-index: -1;
    height: 31vw;
    transform: translate(0px, -40px);
}
.navGridSection{
    display: grid; 
    grid-template-rows: 50px ; 
    gap: 0px 0px; 

}

.navGridHeader{
    padding: 4px;
    border-bottom: 1px solid black;
}


.navGridContainer{
    height: 82.5vh;
    padding: 0% 9%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    overflow-y: scroll;
    gap:6px 12px;

}


.navGridItem{
    margin-top: 11px;
    display: grid;
    place-items: center;
    padding: 12px 12px;
    color: white;
    outline: 1px solid black;
    border-radius: 100%;
    background-color:#0d3b86;
    box-shadow: 0px 5px 14px -7px #082657;


}


.questionHeader{
    background: rgb(5,25,58);
    background: linear-gradient(278deg, rgba(5,25,58,1) 0%, rgba(13,59,134,1) 49%);
    color:white;
    font-size: 30px;
    border-radius: 0px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 13px;

    
}
.logo-image{
    width: 70px;
    height: 50px;
}


.navArrowContainer{
    display: flex;
    width: 77vw;
    justify-content: space-around;
    transform: translate(-3px, -104px);
}

.arrows{
    width: 3vw;
    height: 9vh;
    display: grid;
    place-items: center;
    color: #0d3b86;
}
.submitTest{
    display: grid;
    place-items: center;
}
.submitTest button{
    font-size:16px;
    font-family:Arial;
    height:50px;
    border-width:1px;
    color:#000;
    border-color:#599bb3;
    font-weight:bold;
    border-radius:8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background:linear-gradient(#f9faf7, #d0d2d3);
    padding: 0px 25px;
}
.submitTest button:hover {
    background: linear-gradient(#d0d2d3, #f7f9fa);
  }






.answerContainer{
    margin: 0 auto;
    width: 57%;

}

.answerContainer button{

    font-size:16px;
    font-family:Arial;
    width:10vw;
    height:50px;
    border-width:1px;
    color:#000;
    border-color:#599bb3;
    font-weight:bold;
    border-radius:8px;

    box-shadow: 0px 10px 14px -7px #082657;
    background:linear-gradient(#f7f9fa, #d0d2d3);
    margin: 0.8%;
}
.answerContainer button:hover {
    background: linear-gradient(#d0d2d3, #f7f9fa);
  }


.modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: grid;
        place-items: center;
      }

.confirmModal{
    padding: 10%;
    width: 40%;
    background-color: white;
    position: absolute; 
    margin: 18px;
    border: 1px solid black;
    display: grid;
    box-shadow: -3px -5px 68px 11px #343434, 3px 5px 10px 1px rgb(76 75 82);
    border-radius: 12px;
    padding: 15px;
}




.confirmModalBtn{
    width: 49%;
    font-size: 15px;
    font-family: Arial;
    width: 10vw;
    height: 50px;
    border-width: 1px;
    color: #000;
    border-color: #599bb3;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background: linear-gradient(#f7f9fa, #d0d2d3);
    margin: 0.8%;
    padding: 5px;
    margin-top: 40px;
}

.reviewTestBtn{
    font-size: 15px;
    font-family: Arial;
    width: 10vw;
    height: 35px;
    border-width: 1px;
    color: #000;
    border-color: #599bb3;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background: linear-gradient(#f7f9fa, #d0d2d3);
    margin: 0.8%;
    padding: 5px;
    margin-top: 40px;
}

.result-container{
    margin-top: 18px !important;
    margin: 0px auto;
    border: 1px solid black;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 12px;
    padding: 15px;
    width: 40%;
}



.hidden{
    display: none;
}

.short-text{
    display: none;
}

@media only screen and (max-width: 650px){
    .full-text{display: none;}
    .short-text{display: inline;}

    .startTestBtn{
        margin: 10% 0% 0% 30%;

    }
    
    .quiz-container{
        display: grid;
        grid-template-columns: 13% 87%;
        height: 90vh;
        margin: 5px 3px;
    }

    .navGridContainer{
        padding: 0px 5px;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 2px;
        width: 100%;
    
    }
    .navGridItem{
        padding: 10px 10px ;
        width: 85%;

        
    }
    .navGridHeader{
        font-size: 100%;
        padding:4px;
    }
    .formGridContainer{
        display: grid;
        grid-template-columns: 25vw 50vw;
        row-gap: 2.5vh;
        width: 100% ;
    }
    .questionHeader .text-heading{
        font-size: 20px;
        padding-top: 10px;
    }
    .questionImg{
        transform: translate(-13px, -21px);
        z-index: -1;
        width: 88vw;
        height: 105vw;
    }

    .navArrowContainer{
        display: flex;
        width: 80vw;
        justify-content: space-around;
        transform: translate(0vw, -10vw);
    }
    .arrows{
        width: 8vw;
        height: 8vw;
        display: grid;
        place-items: center;
        z-index: 2;
    }
    .answerContainer{
        margin: 0 auto;
        width: 65%;
     
    }
    .answerContainer button{
        width:20vw;
        height:10vw;
    }
    .optionContainerGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
    .confirmModal{
        width: 80%;
    }
    .confirmModalBtn{
    width: 47%;
}

.submitTest >button{
    transform: translate(-2vw,0vw);
    padding: 10px;
    width: 70%;

}



/* mobile result container */
.result-container{
    margin: 18px;
    border: 1px solid black;
    display: grid;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 12px;
    padding: 15px;
    width: 90%;
}
.reviewTestBtn{
    width:40vw
}



}