*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.text-heading{
    padding :8px;
    font-size: 25px;
}
.marksText{
    font-size:25px  ;
    place-items: center;
}

.container{
    margin: 18px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 17px;
}
.detailsInputForm{
    margin: 18px;
    border: 1px solid black;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 17px;
    padding-bottom: 25px;
}
.inputFormHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px ;
    background: linear-gradient(278deg, rgba(5,25,58,1) 0%, rgba(13,59,134,1) 49%);
    border-radius: 15px 15px 0px 0px;

}
.inputFormHeader h3{
    padding: 12px 5px;
    color: white;
}
.inputContainer{
    margin: 12px;
}
.instructions> h2{
    text-decoration: underline;
}
.instructions ul{
    margin-left: 15px;
}
.inputFormContainer h4{
    margin: 5px 0px 0px 5px
}


.startTestBtn{
    font-size:16px;
    font-family:Arial;
    height:40px;
    border-width:1px;
    color:#000;
    border-color:#599bb3;
    font-weight:bold;
    border-radius:8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background:linear-gradient(#f9faf7, #d0d2d3);
    padding: 0px 25px;
    margin: 10% 0% 0% 40%;

    }

.questionContainer{
    border-left: 1px solid #000;
}
.questionImgContainer{
    display: grid;
    place-items: center;
}
.questionImg{
    width: 35vw;
    height: 25vw;
}
.navGridSection{
    display: grid; 
    grid-template-rows: 50px 2.2fr 70px; 
    gap: 0px 0px; 

}

.navGridHeader{
    border-bottom: 1px solid black;
}


.navGridContainer{
    height: 180px;
    padding: 20px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    overflow-y: scroll;

}


.navGridItem{
    display: grid;
    place-items: center;
    padding: 12px;

    outline: 1px solid black;
    border-radius: 100%;
    background-color:#63E3ED;
    box-shadow: 0px 5px 14px -7px #082657;


}


.questionHeader{
    background: rgb(5,25,58);
    background: linear-gradient(278deg, rgba(5,25,58,1) 0%, rgba(13,59,134,1) 49%);
    color:white;
    font-size: 30px;
    border-radius: 0px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 13px;

    
}
.logo-image{
    width: 70px;
    height: 50px;
}
.questionNavContainer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}



.arrows{
    margin-top: 170px;
    width: 5vw;
    height: 3vw;
    display: grid;
    place-items: center;
    margin-left: 60px;
}
.submitTest{
    display: grid;
    place-items: center;
}
.submitTest button{
    font-size:16px;
    font-family:Arial;
    height:50px;
    border-width:1px;
    color:#000;
    border-color:#599bb3;
    font-weight:bold;
    border-radius:8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background:linear-gradient(#f9faf7, #d0d2d3);
    padding: 0px 25px;
}
.submitTest button:hover {
    background: linear-gradient(#d0d2d3, #f7f9fa);
  }






.answerContainer{
    margin: 0 auto;
    width: 60%;

}

.answerContainer button{

    font-size:16px;
    font-family:Arial;
    width:10vw;
    height:50px;
    border-width:1px;
    color:#000;
    border-color:#599bb3;
    font-weight:bold;
    border-radius:8px;

    box-shadow: 0px 10px 14px -7px #082657;
    background:linear-gradient(#f7f9fa, #d0d2d3);
    margin: 0.8%;
}
.answerContainer button:hover {
    background: linear-gradient(#d0d2d3, #f7f9fa);
  }


.modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: grid;
        place-items: center;
      }

.confirmModal{
    padding: 10%;
    width: 40%;
    background-color: white;
    position: absolute; 
    margin: 18px;
    border: 1px solid black;
    display: grid;
    box-shadow: -3px -5px 68px 11px #343434, 3px 5px 10px 1px rgb(76 75 82);
    border-radius: 12px;
    padding: 15px;
}




.confirmModalBtn{
    width: 49%;
    font-size: 15px;
    font-family: Arial;
    width: 10vw;
    height: 50px;
    border-width: 1px;
    color: #000;
    border-color: #599bb3;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background: linear-gradient(#f7f9fa, #d0d2d3);
    margin: 0.8%;
    padding: 5px;
    margin-top: 40px;
}

.reviewTestBtn{
    font-size: 15px;
    font-family: Arial;
    width: 10vw;
    height: 35px;
    border-width: 1px;
    color: #000;
    border-color: #599bb3;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px #082657;
    background: linear-gradient(#f7f9fa, #d0d2d3);
    margin: 0.8%;
    padding: 5px;
    margin-top: 40px;
}

.result-container{
    margin-top: 18px !important;
    margin: 0px auto;
    border: 1px solid black;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 12px;
    padding: 15px;
    width: 40%;
}



.hidden{
    display: none;
}

.short-text{
    display: none;
}

@media only screen and (max-width: 650px){
    .full-text{display: none;}
    .short-text{display: inline;}

    .startTestBtn{
        margin: 10% 0% 0% 30%;

    }
    
    .quiz-container{
        display: grid;
        grid-template-columns: 13% 87%;
        /* height: 90vh; */
        margin: 7px;
    }
    .questionNavContainer{
        display: grid;
        grid-template-columns: 8% 84% 8%;
        
    }
    .navGridContainer{
        height: 500px;
        padding: 20px 5px;
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 10px;
        width: 100%;
    
    }
    .navGridItem{
        padding: 10px 10px ;
        width: 85%;

        
    }
    .navGridHeader{
        font-size: 100%;
        padding:2px;
    }

    .questionHeader .text-heading{
        font-size: 20px;
        padding-top: 10px;
    }
    .questionImg{
        width: 75vw;
    height: 85vw;
    object-fit: cover;
    }
    .arrows{
        width: 7vw;
        height: 5vw;
        display: grid;
        place-items: center;
        position: relative;
        z-index: 2;
        right: 60px;
        bottom: 55px;
    }
    .answerContainer{
        margin: 0 auto;
        width: 65%;
     
    }
    .answerContainer button{
        width:20vw;
        height:10vw;
    }
    .optionContainerGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
    .confirmModal{
        width: 80%;
    }
    .confirmModalBtn{
    width: 60%;
}

.submitTest >button{
    transform: translate(-2vw,0vw);
    padding: 10px;
    width: 70%;

}



/* mobile result container */
.result-container{
    margin: 18px;
    border: 1px solid black;
    display: grid;
    box-shadow: -7px -6px 10px 1px #d2d0ec, 5px 5px 10px 1px rgb(117, 116, 131);
    border-radius: 12px;
    padding: 15px;
    width: 90%;
}
.reviewTestBtn{
    width:40vw
}



}